@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Rubik-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Rubik-regular.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #FFE17F;
  width: 1160px;
  height: 300px;
  margin: 40px auto 0 auto;
}

.logo {
  position: absolute;
  margin: -20px 955px 0 60px;
}

.search {
  display: flex;
  width: 1040px;
  margin: 0 auto;

}

.search-list {
  width: 1040px;
  margin: 0;
  padding: 0;
  margin-top: 46px;

}

.search-form {
  display: flex;
}

.search-input {
  border: 2px solid #000000;
  width: 359px;
  height: 40px;
  border-radius: 50px 0px 0px 50px;
  background-color: #FFE17F;
  border-right: none;

}

.search-button {
  border: 2px solid #000000;
  width: 160px;
  height: 40px;
  border-radius: 0px 50px 50px 0px;
  background-color: #FFE17F;
}

.search-link {
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
  background-color: #FFE17F;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.navigation {

  display: flex;
  width: 1040px;
  margin: 0 auto;
}

.navigation-list {
  width: 1040px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  font-weight: 800;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
}

/* заканчивается хедер */
.page-container {
  width: 1160px;
  margin: 0 auto;
}

.slider-products {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.back {
  background: url("../image/back.svg");
  color: #000000;
  width: 20px;
  height: 60px;
  border: none;
  margin: auto 0;

}

.next {
  background: url("../image/next.svg");
  color: #000000;
  width: 20px;
  height: 60px;
  border: none;
  margin: auto 0;
}

.slider-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  margin-bottom: 29px;

}

.slider-description {
  color: #444444;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  margin-bottom: 60px;
}

.more-information {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  margin-bottom: 60px;
}

.slider-table {
  border-spacing: 20px 12px;
}

.slider-parametr {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.slider-parametr-value {
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: 0;
  padding-left: 20px;


}

.slider-button-circle {
  display: flex;
  background: #FFFFFF;
  width: 12px;
  height: 12px;
    padding: 0;
    margin: 0;
  border-radius: 50%;

  margin-bottom: 70px;
}

.slider-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.categories-icon {
  background-color: #FFE17F;

}

.categories-header {

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.categories-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 163px;


  }
  .categories-item{
    margin: 0;
  padding: 0;
    width: 160px;
  }
.categories-link {
   text-decoration: none;
}

.services {
  display: flex;
    background-color: #F0F0F0;
    width: 1440px;

}

.services-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  height: 40px;
  border: none;
  letter-spacing: 0.2em;
  margin-bottom: 55px;
}
.services-button-list {
  margin: 0;
  padding: 0;
}
.services-list {
  margin: 0;
  padding: 0;
}

.services-header {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 34px;
}

.services-text {
    margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 145px;
}
.services-icon {

}
.delivery {
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
  width: 1160px;
  height: 100px;
}

.delivery-button {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  width: 910px;
  height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border: none;
}

.inform-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.inform-list {
  list-style-type: disc;
}

.inform-text {
  line-height: 30px;
  color: #444444;
}

.inform-item {
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.inform-text-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.inform-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.about-text {
  font-style: normal;
}

.mailing-email {
  line-height: 30px;
  color: #444444;
  border: none;
  width: 557px;
  height: 55px;
}

.mailing-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  width: 253px;
  height: 57px;
}

/* заканчивается боди */
.page-footer {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #444444;
  text-decoration: none;
}

.footer-services-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-academy-tel {
  text-decoration-line: underline;
  color: #FFFFFF;
}

/*футер завершен*/

/*css каталога*/

.inner-header-title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  color: #000000;
  text-decoration: none;
}

.catalog-header {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 800;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.select-control {
  color: #000000;
  border: none;
  font-size: 18px;
  background-color: #F0F0F0;
}

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-filter-title {
  font-family: "Rubik", sans-serif;
  line-height: 20px;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.catalog-filter-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border: none;
  width: 210px;
  height: 20px;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  border: none;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  width: 760px;
  height: 55px;
  border: 3px solid #E5E5E5;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
